<section>
    <div class="row mt-5 px-5 container-fluid">
        <div class="col col-12 p-2 border-2 border-bottom border-dark">
            <h1>Salas</h1>
        </div>
        <div class="col col-12">
            <div *ngIf="rooms.length > 0" class="row justify-content-center py-4">
                <app-item-room class="col-sm-auto" *ngFor="let item of rooms" [data]="item">
                </app-item-room>
            </div>
        </div>
        <div *ngIf="rooms.length === 0" class="col col-12 alert alert-danger" role="alert">
            <strong>Sin salas</strong>
        </div>
    </div>
</section>