<nav class="navbar bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">Sorteo</a>
        <form action="" method="POST" class="d-flex">
            <div class="col col-auto d-flex align-items-center me-2">
                <label class="form-label">¡Inicia sesi&oacute;n!</label>
            </div>
            <div class="col col-auto me-2">
                <input type="email" class="form-control" placeholder="Correo electr&oacute;nico">
            </div>
            <div class="col col-auto me-2">
                <input type="password" class="form-control" placeholder="Contrase&ntilde;a">
            </div>
            <button class="btn btn-success" type="submit">Ingresar</button>
        </form>
    </div>
</nav>