<section>
    <div class="row mt-5 px-5 container-fluid">
        <div class="col col-12">
            <div class="col col-12 p-2 border-2 border-bottom border-dark">
                <h1>Sala &#35;{{ room.numero }}</h1>
            </div>
            <div class="col col-12 p-5 ">
                <div class="d-flex col col-12 p-3 justify-content-center">
                    <div class="row text-center">
                        <span>Horas</span>
                        <h3>{{ hours | number:'2.0'}}</h3>
                    </div>
                    <div class="row text-center">
                        <span>Minutos</span>
                        <h3>{{ minutes | number:'2.0'}}</h3>
                    </div>
                    <div class="row text-center">
                        <span>Segundos</span>
                        <h3>{{ seconds | number:'2.0'}}</h3>
                    </div>
                </div>
            </div>
            <div class="col col-12 p-2 border-2 border-bottom border-dark">
                <div class="row justify-content-between">
                    <div class="col col-auto">
                        <h1>Participantes</h1>
                    </div>
                    <div class="d-flex col col-auto align-items-center">
                        <a [routerLink]="['/user/create']" type="button" class="btn btn-success">Participar</a>
                    </div>
                </div>
            </div>
            <div *ngIf="room.participantes.length > 0" class="col col-12 p-5">
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>N&Uacute;MERO</th>
                                <th>c&Eacute;DULA</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let itemParticipantes of room.participantes">
                            <tr>
                                <td>{{ itemParticipantes.numero }}</td>
                                <td>{{ itemParticipantes.cedula }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div *ngIf="room.participantes.length === 0" class="col col-12 alert alert-danger" role="alert">
                <strong>Sin participantes</strong>
            </div>
            <div *ngIf="win === ''" class="col col-12 alert alert-success" role="alert">
                <app-winner-user [win]="win"></app-winner-user>
            </div>
        </div>
    </div>
</section>