<section>
    <div class="row mt-5 px-5 container-fluid">
        <div class="col col-12">
            <div class="d-flex col col-12 justify-content-between p-2 border-2 border-bottom border-dark">
                <div class="col col-8">
                    <h1>Sala &#35;{{ room.numero }}</h1>
                </div>
                <div class="col col-4">
                    <div class="row text-end">
                        <div class="col col-12">
                            <span>{{ room.capacidadActual }}&#47;{{ room.capacidadTotal }}</span>
                        </div>
                        <div class="col col-12">
                            <span>Precio: &#36;{{ room.precio }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-12 p-5 ">
                <div>
                    <proyecto-countdown-timer [data]="room" (emitir)="recibir($event)"></proyecto-countdown-timer>
                </div>
                <div *ngIf="win" class="col col-12 alert alert-success" role="alert">
                    <app-winner-user [winValues]="win" [usersValues]="users"></app-winner-user>
                </div>
            </div>
            <div class="col col-12 p-2 border-2 border-bottom border-dark">
                <div class="row justify-content-between">
                    <div class="col col-auto">
                        <h1>Participantes</h1>
                    </div>
                    <div class="d-flex col col-auto align-items-center">
                        <a [routerLink]="['/create', room.id]" type="button" class="btn btn-success">Participar</a>
                    </div>
                </div>
            </div>
            <div *ngIf="room.participantes.length > 0" class="col col-12 p-5">
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>N&Uacute;MERO</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let itemParticipantes of room.participantes">
                            <tr>
                                <td>{{ itemParticipantes.numero }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div *ngIf="room.participantes.length === 0" class="col col-12 alert alert-danger" role="alert">
                <strong>Sin participantes</strong>
            </div>
        </div>
    </div>
</section>