<section>
    <div class="mt-5 container">
        <div class="row">
            <div class="col col-12 p-3">
                <div
                    class="d-flex col col-12 px-2 justify-content-between align-items-center border-2 border-bottom border-dark">
                    <h3>Salas</h3>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#staticModalCreate">
                        Crear sala
                    </button>
                </div>
                <!-- Carousel -->
                <div class="col col-12 p-3">
                    <div id="carouselExampleControls" class="carousel slide bg-success" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item d-flex justify-content-center">
                                <div class="me-2 p-4 bg-light">
                                    <h4>Sala1</h4>
                                    <div><span>Tiempo para iniciar: 00:00:00</span></div>
                                    <div><span>Precio: &#36;1000</span></div>
                                    <div><span>Ingreso total: &#36;150000</span></div>
                                    <div><span>Personas registradas: <span>150</span>&#47;<span>150</span></span></div>
                                    <div class="d-flex">
                                        <div class="me-2">
                                            <button class="btn btn-warning">Ver datos</button>
                                        </div>
                                        <div>
                                            <button class="btn btn-secondary">Editar</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="me-2 p-4 bg-light">
                                    <h4>Sala2</h4>
                                    <div><span>Tiempo para iniciar: 00:00:00</span></div>
                                    <div><span>Precio: &#36;2000</span></div>
                                    <div><span>Ingreso total: &#36;150000</span></div>
                                    <div><span>Personas registradas: 150</span></div>
                                    <div class="d-flex">
                                        <div class="me-2">
                                            <button class="btn btn-warning">Ver datos</button>
                                        </div>
                                        <div>
                                            <button class="btn btn-secondary">Editar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col col-12 p-3">
                <div class="col col-12 px-2 border-2 border-bottom border-dark">
                    <h3>Ganadores</h3>
                </div>
                <div class="m-3">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">C&Eacute;DULA</th>
                                <th scope="col">SALA</th>
                                <th scope="col">FECHA</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>124578369</td>
                                <td>sala1</td>
                                <td>24/01/2022</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal Create -->
<div class="modal fade" id="staticModalCreate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticModalCreateLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticModalCreateLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Update -->
<div class="modal fade" id="staticModalUpdate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticModalUpdateLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticModalUpdateLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>