<nav class="navbar bg-light">
    <div class="container-fluid">
        <div class="col col-auto">
            <span class="navbar-brand">Sorteos</span>
        </div>
        <div class="col col-auto">
            <a [routerLink]="['/admin/']">Inicio</a>
        </div>
        <div class="col col-auto">
            <a [routerLink]="['/admin/create']">Crear</a>
        </div>
        <div class="col-col-auto">
            <span name="nombre" class="me-2">#Hebert</span>
            <span class="me-2">&#45;</span>
            <span name="role" class="me-2">Administraci&oacute;n</span>
            <a href="" role="button" class="btn btn-danger">Salir</a>
        </div>
    </div>
</nav>