<header>
    <nav class="navbar bg-light">
        <div class="container-fluid">
            <a class="navbar-brand">Sorteo</a>
            <div class="dropdown">
                <button class="btn dropdown-toggle border-0" type="button" name="userName" data-bs-toggle="dropdown" aria-expanded="false">
                    Nombre de usuario
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="">Cerrar sesi&oacute;n</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>