<div class="row justify-content-center align-items-center">
    <div class="col col-6">
        <div class="mb-3">
            <h1>Bienvenido!</h1>
        </div>
        <div class="mb-3">
            <label class="form-label">Correo electr&oacute;nico</label>
            <input type="email" class="form-control" placeholder="example@mail.com" />
        </div>
        <div class="mb-3">
            <label class="form-label">Contrase&ntilde;a</label>
            <input type="password" class="form-control" />
        </div>
    </div>
</div>